body {
  margin: 0;
  padding: 0;
  font-family: 'Nanum Pen Script', cursive; /* Updated font-family */
  background-color: #1d1d1d; /* Dark background color */
  color: #fff; /* White text color */
}

/* Header styles */
header {
  background-color: #2d1a12; /* Dark brown header background */
  padding: 2% 5%; /* Fluid padding */
  text-align: center;
}
.title {
 font-family: 'Nanum Pen Script', cursive; /* Updated font-family */ 
}
header h1 {
  margin: 0;
  font-size: 3vw; /* Fluid font size */
  font-weight: bold;

}

/* Main content styles */
main {
  padding: 2% 5%; /* Fluid padding */
}

/* Footer styles */
footer {
  background-color: #2d1a12; /* Dark brown footer background */
  padding: 2% 5%; /* Fluid padding */
  text-align: center;
}

footer p {
  margin: 0;
}

/* General link styles */
a {
  color: #e8ba51; /* Gold color for links */
  text-decoration: none;
  transition: color 0.3s; /* Smooth transition for hover effect */
}

a:hover {
  color: #ffd700; /* Lighter gold color on hover */
}

/* News.css */
.news-container {
  padding: 2% 5%; /* Fluid padding */
}

.news-container .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive grid with minimum column width of 300px */
  grid-gap: 20px; /* Spacing between grid items */
}

.news-item {
  background-color: #2d1a12; /* Dark brown background for news items */
  padding: 20px;
  border-radius: 5px;
}

.news-item h3 {
  margin: 0;
  color: #e8ba51; /* Gold color for news titles */
  font-size: 1.5vw; /* Fluid font size */
}

.news-item p {
  margin: 10px 0 0; /* Top margin for news content */
}

/* Links.css */
.links-container {
  padding: 2% 5%; /* Fluid padding */
}

.links-container .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive grid with minimum column width of 300px */
  grid-gap: 20px; /* Spacing between grid items */
}

.link-item {
  background-color: #2d1a12; /* Dark brown background for link items */
  padding: 20px;
  border-radius: 5px;
}

.link-item a {
  color: #e8ba51; /* Gold color for links */
  text-decoration: none;
  transition: color 0.3s; /* Smooth transition for hover effect */
}

.link-item a:hover {
  color: #ffd700; /* Lighter gold color on hover */
}

/* About.css */
.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.stage {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.icon {
  font-size: 24px;
  margin-right: 20px;
}

h3 {
  margin: 0;
}

p {
  margin: 5px 0;
}

/* GameConcept.css */

/* Container styles */
.game-concept-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Heading styles */
.game-concept-container h2 {
  font-size: 2em;
  color: #333;
}

/* Paragraph styles */
.game-concept-container p {
  font-size: 1.2em;
  color: #666;
  margin-top: 10px;
}
